.github
cache
config/local/*.yaml
public/var
public/bundles
var/application-logger
var/assets
var/cache
var/email
var/installer
var/log
var/versions
vendor
.editorconfig
.gitattributes
.git
docker-compose.yaml
gpl-3.0.txt
README.md
SECURITY.md
supervisord.log
supervisord.pid
.secrets
