# remove the following ignores for your project
/config/pimcore/constants.php

# symfony default
/.web-server-pid
/config/pimcore/parameters.yml
/build/
/phpunit.xml
/public/bundles/

# local config
/.env.local
/.env.local.php
/.env.*.local

# Difference from pimcore/skeleton - we allow committing of files in the config/local directory so that developer's
# can share them, but use .dockerignore to ensure they are not built into the Docker images. When developers run
# the Docker Compose locally, they can then simply mount the directory into the running containers.

/var/*
!/var/.gitkeep
!/var/classes/
/var/classes/DataObject

!/var/config
/var/config/system.yml
/var/config/maintenance.php

# project specific recommendations
/var/config/tag-manager.php
/var/config/reports.php


/public/var/
/public/sitemap*.xml

# PHP-CS-Fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache

# composer
/vendor/
/cache/

# PhpStorm / IDEA
.idea
# NetBeans
nbproject

# temp
.temp

supervisord.pid
supervisord.log
.htaccess

# .secrets
/.secrets/*
!/.secrets/.gitkeep
