{%  block content %}


    <div class="page" id="documentpage-{{ document.id }}">

        <div>

            <div id="logo" style="text-align: center">
                <a href="http://www.pimcore.com/"><img src="/bundles/pimcoreadmin/img/logo-claim-gray.svg" alt="Logo claim grey" style="width: 400px;" /></a>
                <hr />
            </div>


        </div>

    </div>

{% endblock %}
